<div class="container">
  <div class="row">
    <h4 class="my-3">My profile<%= link_to edit_user_path(@user), class: "btn btn-secondary btn-lg" do %>
    <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
    <% end %>
    </h4>

    <div class="col-md-3">
      <p>user name</p>
      <p>age</p>
      <p>introduction</p>
    </div>
    <div class="col-md-5">
      <%= @user.user_name %>
      <%= @user.age %>
      <%= @user.introduction %>
    </div>
  </div>
</div>